n8n/workflows/step1-2-3-audio-voice-portrait.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Prepare for Step 3 - ComfyUI portrait generation\nconst item = $input.first();\nconst ttsResponse = $json;\nconst audioBase64 = ttsResponse.audio_base64;\n\nif (!audioBase64) {\n  throw new Error('No audio data received from VibeVoice API');\n}\n\n// Convert base64 to binary buffer\nconst audioBuffer = Buffer.from(audioBase64, 'base64');\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, -5);\nconst ttsFileName = `cloned_voice_${timestamp}.mp3`;\n\n// Create binary data for audio\nconst binaryData = await this.helpers.prepareBinaryData(audioBuffer, ttsFileName);\n\nconst step1TaskId = $('Prepare for Voice Cloning').item.json.step1_task_id;\nconst script = $('Prepare for Voice Cloning').item.json.script;\nconst portraitPrompt = $('Prepare for Voice Cloning').item.json.portrait_prompt;\n\n// Generate portrait prompt from script if not provided\nconst finalPortraitPrompt = portraitPrompt || \n  `Professional portrait photograph of a speaker presenting the following content: \"${script.substring(0, 100)}\". Studio lighting, high resolution, centered composition, neutral background, photorealistic, detailed facial features, professional attire, confident expression, business setting`;\n\nreturn [{\n  json: {\n    step1_task_id: step1TaskId,\n    script: script,\n    portrait_prompt: finalPortraitPrompt,\n    tts_file_name: ttsFileName,\n    youtube_url: $('Prepare for Voice Cloning').item.json.youtube_url,\n    segment_start: $('Prepare for Voice Cloning').item.json.segment_start,\n    segment_end: $('Prepare for Voice Cloning').item.json.segment_end,\n    tts_model: ttsResponse.model_used || 'VibeVoice',\n    tts_duration: ttsResponse.duration_seconds\n  },\n  binary: {\n    cloned_audio: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2752,
        160
      ],
      "id": "ecc3d029-a08f-46fb-ab80-3eb1afc26511",
      "name": "Prepare for Portrait Gen"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/comfyui/wan-portrait-api-format.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2368,
        160
      ],
      "id": "79cc39b4-9e74-4d34-9d8c-54b78fb00f71",
      "name": "Load ComfyUI Template"
    },
    {
      "parameters": {
        "jsCode": "// Get the loaded workflow template from previous node\nconst item = $input.first();\n\n// Get the binary property name (should be 'data' by default)\nconst binaryKey = Object.keys(item.binary)[0];\n\n// Use n8n's helper function to get the file buffer (n8n v0.135.0+)\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n\n// Convert buffer to string, then parse JSON\nlet workflowTemplate;\ntry {\n  const jsonString = binaryBuffer.toString('utf8');\n  workflowTemplate = JSON.parse(jsonString);\n} catch (error) {\n  throw new Error(`Failed to parse ComfyUI workflow template: ${error.message}`);\n}\n\n// Get portrait prompt from Prepare for Portrait Gen node\nconst portraitPrompt = $('Prepare for Portrait Gen').item.json.portrait_prompt;\n\n// Update the positive prompt (node 6)\nworkflowTemplate['6'].inputs.text = portraitPrompt;\n\n// Randomize seed (node 3)\nconst randomSeed = Math.floor(Math.random() * 2147483647);\nworkflowTemplate['3'].inputs.seed = randomSeed;\n\n// Get other data from Prepare for Portrait Gen\nconst prepareData = $('Prepare for Portrait Gen').item;\n\nreturn [{\n  json: {\n    comfyui_workflow: workflowTemplate,\n    portrait_prompt: portraitPrompt,\n    seed: randomSeed,\n    step1_task_id: prepareData.json.step1_task_id,\n    script: prepareData.json.script,\n    tts_file_name: prepareData.json.tts_file_name,\n    youtube_url: prepareData.json.youtube_url,\n    segment_start: prepareData.json.segment_start,\n    segment_end: prepareData.json.segment_end,\n    tts_model: prepareData.json.tts_model,\n    tts_duration: prepareData.json.tts_duration\n  },\n  binary: prepareData.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        144
      ],
      "id": "ff17b823-a279-40d9-ad34-f43b51e7b331",
      "name": "Prepare ComfyUI Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://comfyui:18188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({prompt: $json.comfyui_workflow}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        144
      ],
      "id": "fa1833cf-0700-45ad-8dc1-d68d2e28f4b3",
      "name": "Submit to ComfyUI"
    },
    {
      "parameters": {
        "jsCode": "// Extract prompt_id from ComfyUI response\nconst item = $input.first();\nconst response = item.json;\n\nif (!response.prompt_id) {\n  throw new Error('ComfyUI did not return prompt_id: ' + JSON.stringify(response));\n}\n\nreturn [{\n  json: {\n    prompt_id: response.prompt_id,\n    portrait_prompt: $('Prepare ComfyUI Workflow').item.json.portrait_prompt,\n    seed: $('Prepare ComfyUI Workflow').item.json.seed,\n    step1_task_id: $('Prepare ComfyUI Workflow').item.json.step1_task_id,\n    script: $('Prepare ComfyUI Workflow').item.json.script,\n    tts_file_name: $('Prepare ComfyUI Workflow').item.json.tts_file_name,\n    youtube_url: $('Prepare ComfyUI Workflow').item.json.youtube_url,\n    segment_start: $('Prepare ComfyUI Workflow').item.json.segment_start,\n    segment_end: $('Prepare ComfyUI Workflow').item.json.segment_end,\n    tts_model: $('Prepare ComfyUI Workflow').item.json.tts_model,\n    tts_duration: $('Prepare ComfyUI Workflow').item.json.tts_duration,\n    poll_count_step3: 0,\n    max_polls_step3: 60\n  },\n  binary: $('Prepare ComfyUI Workflow').item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        144
      ],
      "id": "19116b72-5927-4b0b-8fae-337396e86596",
      "name": "Extract Prompt ID"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1456,
        144
      ],
      "id": "cba8d4de-6a9c-442a-be01-0ee48d86ffcc",
      "name": "Wait 5s (Step 3)",
      "webhookId": "wait-step3-webhook"
    },
    {
      "parameters": {
        "url": "=http://comfyui:18188/history/{{ $json.prompt_id }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1264,
        144
      ],
      "id": "2e1e66f5-e442-4053-8118-ffd0e3051093",
      "name": "Check ComfyUI Status"
    },
    {
      "parameters": {
        "jsCode": "// Check if ComfyUI generation is complete\nconst item = $input.first();\nconst history = item.json;\n\nconst promptId = $('Extract Prompt ID').item.json.prompt_id;\nconst pollCount = ($('Extract Prompt ID').item.json.poll_count_step3 || 0) + 1;\nconst maxPolls = $('Extract Prompt ID').item.json.max_polls_step3 || 60;\n\nif (pollCount >= maxPolls) {\n  throw new Error(`ComfyUI timeout after ${maxPolls} attempts (5 minutes)`);\n}\n\n// Check if prompt_id exists in history\nif (!history[promptId]) {\n  return [{\n    json: {\n      prompt_id: promptId,\n      status: 'processing',\n      poll_count_step3: pollCount,\n      max_polls_step3: maxPolls,\n      ready_to_download: false\n    }\n  }];\n}\n\nconst promptHistory = history[promptId];\n\n// Check if outputs exist\nif (promptHistory.outputs && promptHistory.outputs['49']) {\n  const imageInfo = promptHistory.outputs['49'].images[0];\n  \n  if (imageInfo) {\n    return [{\n      json: {\n        prompt_id: promptId,\n        status: 'completed',\n        ready_to_download: true,\n        image_filename: imageInfo.filename,\n        image_subfolder: imageInfo.subfolder,\n        image_type: imageInfo.type,\n        portrait_prompt: $('Extract Prompt ID').item.json.portrait_prompt,\n        seed: $('Extract Prompt ID').item.json.seed,\n        step1_task_id: $('Extract Prompt ID').item.json.step1_task_id,\n        script: $('Extract Prompt ID').item.json.script,\n        tts_file_name: $('Extract Prompt ID').item.json.tts_file_name,\n        youtube_url: $('Extract Prompt ID').item.json.youtube_url,\n        segment_start: $('Extract Prompt ID').item.json.segment_start,\n        segment_end: $('Extract Prompt ID').item.json.segment_end,\n        tts_model: $('Extract Prompt ID').item.json.tts_model,\n        tts_duration: $('Extract Prompt ID').item.json.tts_duration\n      },\n      binary: $('Extract Prompt ID').item.binary\n    }];\n  }\n}\n\n// Still processing\nreturn [{\n  json: {\n    prompt_id: promptId,\n    status: 'processing',\n    poll_count_step3: pollCount,\n    max_polls_step3: maxPolls,\n    ready_to_download: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        144
      ],
      "id": "85117c09-98c7-49ec-9aa3-9a09e11a6ac8",
      "name": "Check Completion (Step 3)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-complete-step3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -864,
        144
      ],
      "id": "051902a0-b9f8-4884-b1fe-00ea61dbbf97",
      "name": "Is Complete? (Step 3)"
    },
    {
      "parameters": {
        "url": "=http://comfyui:18188/view?filename={{ $json.image_filename }}&subfolder={{ $json.image_subfolder }}&type={{ $json.image_type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        48
      ],
      "id": "de8bca9e-371a-4e3b-ac90-6484dbe79f8e",
      "name": "Download Portrait Image"
    },
    {
      "parameters": {
        "jsCode": "// Prepare final response for Steps 1-2-3\nconst item = $input.first();\nconst binary = item.binary;\n\nif (!binary || !binary.cloned_audio) {\n  throw new Error('Missing cloned audio in binary data');\n}\n\nconst audioBinaryKey = 'cloned_audio';\nconst imageBinaryKey = Object.keys(binary).find(key => key !== audioBinaryKey);\n\nif (!imageBinaryKey) {\n  throw new Error('No portrait image found in binary data');\n}\n\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, -5);\nconst portraitFileName = `portrait_${$json.seed}_${timestamp}.png`;\n\n// Rename the image binary\nconst portraitData = binary[imageBinaryKey];\nconst renamedPortrait = await this.helpers.prepareBinaryData(\n  Buffer.from(portraitData.data, 'base64'),\n  portraitFileName\n);\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Steps 1-2-3 completed: Audio extracted, voice cloned, and portrait generated',\n    step1: {\n      task_id: $json.step1_task_id,\n      youtube_url: $json.youtube_url,\n      segment_start: $json.segment_start,\n      segment_end: $json.segment_end\n    },\n    step2: {\n      script: $json.script,\n      audio_file_name: $json.tts_file_name,\n      model: $json.tts_model,\n      duration_seconds: $json.tts_duration\n    },\n    step3: {\n      prompt_id: $json.prompt_id,\n      portrait_prompt: $json.portrait_prompt,\n      seed: $json.seed,\n      image_file_name: portraitFileName,\n      comfyui_filename: $json.image_filename,\n      comfyui_subfolder: $json.image_subfolder\n    },\n    completion_time: new Date().toISOString(),\n    ready_for_step4: true\n  },\n  binary: {\n    audio: binary.cloned_audio,\n    image: renamedPortrait\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        48
      ],
      "id": "7c80721a-2980-4469-aa91-f816d0ad5d1e",
      "name": "Prepare Final Response"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        48
      ],
      "id": "0342bf53-0b33-4200-ad53-923a92761f45",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f8d247ac-70b5-4d70-9a40-dc7517dbe090",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2752,
        -240
      ],
      "id": "41845855-466a-4eaf-a1f4-c77533369f6b",
      "name": "Video Generation Webhook",
      "webhookId": "f8d247ac-70b5-4d70-9a40-dc7517dbe090"
    },
    {
      "parameters": {
        "jsCode": "// Validate input parameters\nconst item = $input.first();\nconst body = item.json.body || item.json;\n\n// YouTube URL\nconst youtubeUrl = body.youtube_url || body.url;\nif (!youtubeUrl) {\n  throw new Error('Missing required parameter: youtube_url');\n}\n\nif (!youtubeUrl.includes('youtube.com') && !youtubeUrl.includes('youtu.be')) {\n  throw new Error('Invalid YouTube URL');\n}\n\n// Script for TTS\nconst script = body.script;\nif (!script) {\n  throw new Error('Missing required parameter: script (the 8-second script for TTS)');\n}\n\nif (script.length > 500) {\n  throw new Error('Script too long (max 500 characters)');\n}\n\n// Segment times\nconst segmentStart = body.segment_start || 40;\nconst segmentEnd = body.segment_end || 70;\n\nif (segmentEnd <= segmentStart) {\n  throw new Error('segment_end must be greater than segment_start');\n}\n\nconst duration = segmentEnd - segmentStart;\nif (duration > 60) {\n  throw new Error('Maximum segment duration is 60 seconds');\n}\n\n// TTS parameters (r5_p3 optimal defaults from video5 optimization)\nconst cfgScale = body.cfg_scale || 1.5;\nconst diffusionSteps = body.diffusion_steps || 30;\nconst temperature = body.temperature || 0.75;\nconst topP = body.top_p || 0.85;\nconst useSampling = body.use_sampling !== undefined ? body.use_sampling : true;\n\nreturn [{\n  json: {\n    youtube_url: youtubeUrl,\n    script: script,\n    segment_start: segmentStart,\n    segment_end: segmentEnd,\n    duration: duration,\n    format: 'mp3',\n    cfg_scale: cfgScale,\n    diffusion_steps: diffusionSteps,\n    temperature: temperature,\n    top_p: topP,\n    use_sampling: useSampling\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        -240
      ],
      "id": "76c92fbb-dbdf-44f3-b233-51f7523cd024",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://yttools:8456/api/download",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"url\": $json.youtube_url,\n  \"start_time\": $json.segment_start,\n  \"end_time\": $json.segment_end,\n  \"audio_format\": \"mp3\",\n  \"enable_whisper\": false\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2352,
        -240
      ],
      "id": "f9c24ffa-049b-4fbd-8267-623410f08e7e",
      "name": "Submit to yttools"
    },
    {
      "parameters": {
        "jsCode": "// Extract task_id from yttools response\nconst item = $input.first();\nconst response = item.json;\n\nif (!response.task_id) {\n  throw new Error('yttools did not return task_id: ' + JSON.stringify(response));\n}\n\nreturn [{\n  json: {\n    task_id: response.task_id,\n    youtube_url: $('Validate Input').item.json.youtube_url,\n    script: $('Validate Input').item.json.script,\n    segment_start: $('Validate Input').item.json.segment_start,\n    segment_end: $('Validate Input').item.json.segment_end,\n    poll_count: 0,\n    max_polls: 60\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        -240
      ],
      "id": "e0868acf-e728-4b87-aabf-b42b7e45ea9b",
      "name": "Extract Task ID"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1952,
        -240
      ],
      "id": "d97225ef-ea1a-4354-a76b-c188c4284491",
      "name": "Wait 3s",
      "webhookId": "e9b41abe-17c0-4654-b936-3d19005a49f8"
    },
    {
      "parameters": {
        "url": "=http://yttools:8456/api/status/{{ $json.task_id }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        -240
      ],
      "id": "5c205341-b75e-4df4-8329-071cc1133e63",
      "name": "Check Status"
    },
    {
      "parameters": {
        "jsCode": "// Check if task is complete\nconst item = $input.first();\nconst status = item.json;\n\nconst taskId = $('Extract Task ID').item.json.task_id;\nconst pollCount = ($('Extract Task ID').item.json.poll_count || 0) + 1;\nconst maxPolls = $('Extract Task ID').item.json.max_polls || 60;\n\nif (pollCount >= maxPolls) {\n  throw new Error(`Task timeout after ${maxPolls} attempts`);\n}\n\nif (status.status === 'completed') {\n  return [{\n    json: {\n      task_id: taskId,\n      status: 'completed',\n      ready_to_download: true,\n      youtube_url: $('Validate Input').item.json.youtube_url,\n      script: $('Validate Input').item.json.script,\n      segment_start: $('Validate Input').item.json.segment_start,\n      segment_end: $('Validate Input').item.json.segment_end\n    }\n  }];\n} else if (status.status === 'failed') {\n  throw new Error(`yttools task failed: ${status.error || 'Unknown error'}`);\n} else {\n  return [{\n    json: {\n      task_id: taskId,\n      status: status.status,\n      progress: status.progress || 0,\n      poll_count: pollCount,\n      max_polls: maxPolls,\n      ready_to_download: false\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        -240
      ],
      "id": "1b4c7091-532e-4ac4-9f01-d010b71810f9",
      "name": "Check Completion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1360,
        -240
      ],
      "id": "107f8581-e9cd-4f16-b671-b923c789e3c1",
      "name": "Is Complete?"
    },
    {
      "parameters": {
        "url": "=http://yttools:8456/api/download/{{ $json.task_id }}/audio",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        -352
      ],
      "id": "8543704f-2da6-4cc5-aac7-4dd3b66b2f35",
      "name": "Download Reference Audio"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Step 2 (TTS)\nconst item = $input.first();\nconst taskId = $json.task_id;\nconst script = $json.script;\nconst binary = item.binary;\n\nif (!binary || Object.keys(binary).length === 0) {\n  throw new Error('No audio data received from yttools');\n}\n\n// Get the binary key\nconst binaryKey = Object.keys(binary)[0];\nconst audioData = binary[binaryKey];\n\nreturn [{\n  json: {\n    step1_task_id: taskId,\n    script: script,\n    youtube_url: $json.youtube_url,\n    segment_start: $json.segment_start,\n    segment_end: $json.segment_end\n  },\n  binary: {\n    reference_audio: audioData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -352
      ],
      "id": "2a971763-ab9f-4cea-af66-a2332290ffe8",
      "name": "Prepare for Voice Cloning"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vibevoice-api:8100/api/tts",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.script }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "voice_audio",
              "inputDataFieldName": "reference_audio"
            },
            {
              "name": "model",
              "value": "VibeVoice-Large"
            },
            {
              "name": "cfg_scale",
              "value": "={{ $json.cfg_scale || '1.5' }}"
            },
            {
              "name": "diffusion_steps",
              "value": "={{ $json.diffusion_steps || '30' }}"
            },
            {
              "name": "use_sampling",
              "value": "={{ $json.use_sampling || 'true' }}"
            },
            {
              "name": "temperature",
              "value": "={{ $json.temperature || '0.75' }}"
            },
            {
              "name": "top_p",
              "value": "={{ $json.top_p || '0.85' }}"
            },
            {
              "name": "output_format",
              "value": "mp3"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        -176
      ],
      "id": "3dbffdae-be81-4962-ab5e-8a24ce7be6d9",
      "name": "Voice Clone & TTS"
    }
  ],
  "connections": {
    "Prepare for Portrait Gen": {
      "main": [
        [
          {
            "node": "Load ComfyUI Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load ComfyUI Template": {
      "main": [
        [
          {
            "node": "Prepare ComfyUI Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare ComfyUI Workflow": {
      "main": [
        [
          {
            "node": "Submit to ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to ComfyUI": {
      "main": [
        [
          {
            "node": "Extract Prompt ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Prompt ID": {
      "main": [
        [
          {
            "node": "Wait 5s (Step 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Step 3)": {
      "main": [
        [
          {
            "node": "Check ComfyUI Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ComfyUI Status": {
      "main": [
        [
          {
            "node": "Check Completion (Step 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion (Step 3)": {
      "main": [
        [
          {
            "node": "Is Complete? (Step 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete? (Step 3)": {
      "main": [
        [
          {
            "node": "Download Portrait Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s (Step 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Portrait Image": {
      "main": [
        [
          {
            "node": "Prepare Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Generation Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Submit to yttools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to yttools": {
      "main": [
        [
          {
            "node": "Extract Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task ID": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Check Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Download Reference Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Reference Audio": {
      "main": [
        [
          {
            "node": "Prepare for Voice Cloning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Voice Cloning": {
      "main": [
        [
          {
            "node": "Voice Clone & TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Clone & TTS": {
      "main": [
        [
          {
            "node": "Prepare for Portrait Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Video Generation Webhook": [
      {
        "headers": {
          "host": "n8n.lan",
          "x-real-ip": "172.18.0.1",
          "x-forwarded-for": "172.18.0.1",
          "x-forwarded-proto": "https",
          "connection": "close",
          "content-length": "345",
          "user-agent": "curl/8.5.0",
          "accept": "*/*",
          "content-type": "application/json"
        },
        "params": {},
        "query": {},
        "body": {
          "youtube_url": "https://www.youtube.com/watch?v=ojIIaobmOEU",
          "script": "This is a test of voice cloning quality using different reference audio samples from Peggy Oliveira videos.",
          "segment_start": 360,
          "segment_end": 405,
          "cfg_scale": 2,
          "diffusion_steps": 30,
          "temperature": 0.85,
          "top_p": 0.95,
          "use_sampling": false
        },
        "webhookUrl": "https://n8n.lan/webhook/generate-video-step1-2",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "99ff97a0c56026a2c1b3a849547491eb857e68a0b770f2b7c6688eea83f57eda"
  }
}