n8n/workflows/test-ffmpeg-overlay.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "76b8ae81-80bd-47c2-b7f4-1a79432fa4f5",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hardcoded test data\nconst videoPath = '/mnt/raven-nas/inspirational-shorts/generated-content/wan22_00024.mp4';\nconst quoteText = 'Your healing matters, and so do you. Dont let anyone tell you otherwise';\n\n// Wrap text to fit within video width (720px - 200px padding = 520px max width)\n// At 55px font size with more padding, approximately 20 characters per line is safe\nconst maxCharsPerLine = 20;\nfunction wrapText(text, maxChars) {\n  const words = text.split(' ');\n  const lines = [];\n  let currentLine = '';\n  \n  for (const word of words) {\n    const testLine = currentLine ? `${currentLine} ${word}` : word;\n    if (testLine.length <= maxChars) {\n      currentLine = testLine;\n    } else {\n      if (currentLine) lines.push(currentLine);\n      currentLine = word;\n    }\n  }\n  if (currentLine) lines.push(currentLine);\n  \n  return lines.join('\\n');\n}\n\nconst wrappedQuote = wrapText(quoteText, maxCharsPerLine);\n\n// Generate paths\nconst outputDir = videoPath.substring(0, videoPath.lastIndexOf('/'));\nconst timestamp = Date.now();\nconst timestampShort = timestamp.toString().slice(-6);\nconst textFilePath = `/tmp/quote_${timestamp}.txt`;\nconst outputFilename = `test_${timestampShort}.mp4`;\nconst outputPath = `${outputDir}/${outputFilename}`;\n\nconsole.log('Input video:', videoPath);\nconsole.log('Quote:', quoteText);\nconsole.log('Wrapped quote:', wrappedQuote);\nconsole.log('Text file:', textFilePath);\nconsole.log('Output:', outputPath);\n\nreturn {\n  json: {\n    quote: quoteText,\n    wrapped_quote: wrappedQuote,\n    text_file: textFilePath,\n    input_video: videoPath,\n    output_video: outputPath,\n    output_filename: outputFilename\n  }\n};"
      },
      "id": "d834edf6-6cea-43e3-a6e5-058427543617",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -96
      ]
    },
    {
      "parameters": {
        "command": "=printf '%s' \"{{ $json.wrapped_quote }}\" > \"{{ $json.text_file }}\""
      },
      "id": "create-text-file-001",
      "name": "Create Text File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        48,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through data from Prepare Data node\nconst prepareData = $('Prepare Data').item.json;\n\nreturn {\n  json: {\n    input_video: prepareData.input_video,\n    output_video: prepareData.output_video,\n    text_file: prepareData.text_file,\n    output_filename: prepareData.output_filename,\n    quote: prepareData.quote\n  }\n};"
      },
      "id": "pass-data-001",
      "name": "Pass Data Through",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -96
      ]
    },
    {
      "parameters": {
        "command": "=ffmpeg -i \"{{ $json.input_video }}\" -vf \"drawtext=fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf:textfile='{{ $json.text_file }}':fontsize=55:fontcolor=0xD4C5A9:line_spacing=10:x=(w-text_w)/2:y=h*2/3-(text_h/2):borderw=3:bordercolor=black\" -c:a copy \"{{ $json.output_video }}\" -y -loglevel error -stats"
      },
      "id": "2f75aab5-bb37-4a37-a87e-e39fdec220d1",
      "name": "FFmpeg Overlay",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        528,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return success result\nreturn {\n  json: {\n    success: true,\n    output_file: $('Prepare Data').item.json.output_filename,\n    output_path: $('Prepare Data').item.json.output_video,\n    quote: $('Prepare Data').item.json.quote\n  }\n};"
      },
      "id": "d08f5b0d-f005-4cc3-836f-c524862dcfd8",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -96
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Create Text File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Text File": {
      "main": [
        [
          {
            "node": "Pass Data Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Data Through": {
      "main": [
        [
          {
            "node": "FFmpeg Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg Overlay": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "99ff97a0c56026a2c1b3a849547491eb857e68a0b770f2b7c6688eea83f57eda"
  }
}