custom_code/n8n/workflows/short-inspirational-videos.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://ovi-api:8300/api/generate-video",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_prompt",
              "value": "={{ $('Parse Prompts').item.json.video_prompt }}"
            },
            {
              "name": "image_path",
              "value": "={{ '/mnt/raven-nas/inspirational-shorts/generated-content/' + $('ComfyUI: Generate Image').item.json.filename }}"
            },
            {
              "name": "mode",
              "value": "i2v"
            },
            {
              "name": "preset",
              "value": "youtube-shorts-optimized"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "f473f500-66ef-4b60-8280-337157d6601d",
      "name": "Ovi: Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract video path from Ovi response\nconst oviResponse = $input.item.json;\nconst videoPath = oviResponse.video_path || oviResponse.output_path;\nconst filename = videoPath.split('/').pop();\n\nif (!videoPath) {\n  throw new Error('No video path found in Ovi response');\n}\n\nconsole.log(`Ovi video path: ${videoPath}`);\n\nreturn {\n  json: {\n    filename: filename,\n    video_path: videoPath\n  }\n};"
      },
      "id": "d4e5f6a7-b8c9-0123-def0-123456789abc",
      "name": "Extract Ovi Video Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Capture execution context and image info before waiting\nconst imageData = $('ComfyUI: Generate Image').item.json;\nconst imagePrompt = $('Parse Prompts').item.json.image_prompt;\nconst executionId = $execution.id;\n\n// Log for debugging\nconsole.log('Image Approval - Execution ID:', executionId);\nconsole.log('Image filename:', imageData.filename);\n\nreturn {\n  json: {\n    image_filename: imageData.filename,\n    image_prompt: imagePrompt,\n    execution_id: executionId,\n    status: 'preparing_for_image_approval',\n    resumeUrl: $execution.resumeUrl\n  }\n};"
      },
      "id": "36d491f1-eaea-471b-8c00-291e6d7f5ed7",
      "name": "Capture Image Resume URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        240
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "425dfda3-0664-4a5b-8b2c-abbf8cfc5515",
      "name": "Wait for Image Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1568,
        256
      ],
      "webhookId": "wait-image-approval"
    },
    {
      "parameters": {
        "jsCode": "// Process the image approval response from the webhook\nconst webhookData = $input.item.json;\nconst action = webhookData.body.action;\n\n// Get the original image prompt\nconst originalPrompt = $('Parse Prompts').item.json.image_prompt;\n\n// Determine the final prompt and approval status\nlet finalPrompt = originalPrompt;\nlet approved = false;\nlet needsRegeneration = false;\n\nif (action === 'approve') {\n  approved = true;\n  finalPrompt = originalPrompt;\n} else if (action === 'edit' && webhookData.body.edited_image_prompt) {\n  approved = true;\n  needsRegeneration = true;\n  finalPrompt = webhookData.body.edited_image_prompt;\n} else if (action === 'reject') {\n  approved = false;\n}\n\nreturn {\n  json: {\n    image_prompt: finalPrompt,\n    approved: approved,\n    needs_regeneration: needsRegeneration,\n    action: action,\n    original_image_prompt: originalPrompt\n  }\n};"
      },
      "id": "c2445814-bbce-43f0-a13e-574f212394f5",
      "name": "Handle Image Approval Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-image-approved",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "no-regeneration-needed",
              "leftValue": "={{ $json.needs_regeneration }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1088,
        256
      ],
      "id": "96f8c692-ba45-4c27-8d9c-4f4c9cc2ad5e",
      "name": "Check Image Approval Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vibevoice-api:8100/api/models/VibeVoice-Large/unload",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6e09e25f-a8a5-4acc-9c00-5282fdf3677b",
      "name": "VoiceAPI: Unload Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON output from the AI agent\nconst output = $input.item.json.output;\nlet prompts;\n\ntry {\n  // Try to parse as JSON\n  prompts = JSON.parse(output);\n} catch (e) {\n  // If not valid JSON, try to extract JSON from the text\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    prompts = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Could not parse JSON from AI output');\n  }\n}\n\n// Get the original quote from whichever path was taken\n// Try Quote writer first (AI-generated), then Format Custom Quote (user-provided)\nlet originalQuote;\ntry {\n  originalQuote = $('Quote writer').item.json.output;\n} catch (e) {\n  originalQuote = $('Format Custom Quote').item.json.output;\n}\n\nreturn {\n  json: {\n    image_prompt: prompts.image_prompt,\n    video_prompt: prompts.video_prompt,\n    original_quote: originalQuote\n  }\n};"
      },
      "id": "05ca64c9-5261-448a-81d2-e791fe21fd8b",
      "name": "Parse Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -192
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        336,
        -240
      ],
      "id": "3a9fbe85-a7a9-4d81-ad29-110d6e136828",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "9ITdZP15p3HH1JkB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate image and video prompts for this quote: {{ $json.output }}",
        "options": {
          "systemMessage": "=You are an artistic director tasked with creating both visual and animated content for reflective, emotionally grounded inspirational quotes.\n\nWhen provided with a quote, you must generate TWO prompts in JSON format:\n\n1. **image_prompt**: A detailed description of a photorealistic 9:16 portrait image that represents or supports the quote. Focus on composition, lighting, mood, subject, and environment.\n\n2. **video_prompt**: A description of how the image should be animated into a 10-second video.\nThe prompt should follow this format [Prevent camera movement] + [Setting or Object] + [Mood or Atmosphere] + [Lighting Style] + [Subtle Movement of Object]\nExamples:\n\"lock-off shot of a cozy cabin living room, calm and warm, soft firelight glow, gentle flickering flames in the fireplace.\"\n\"Static shot of a rainy city street viewed from a New York apartment balcony at night, soft ambient glow, steam rising from a cup of tea on the table.\"\n\n\n** IMPORTANT ** Respond ONLY with valid JSON in this exact format:\n{\n  \"image_prompt\": \"detailed image description here\",\n  \"video_prompt\": \"detailed animation description here.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        368,
        -416
      ],
      "id": "bec1aebd-6162-4270-bf0c-2f1d1e91be42",
      "name": "Image & Video Prompt Generator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-approved",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        -400
      ],
      "id": "137f6ca8-0f5f-4a5f-b2e3-f17ae04d552a",
      "name": "Check Approval Status"
    },
    {
      "parameters": {
        "jsCode": "// Capture execution context and quote before waiting\nlet originalQuote;\ntry {\n  originalQuote = $('Quote writer').item.json.output;\n} catch (e) {\n  try {\n    originalQuote = $('Format Custom Quote').item.json.output;\n  } catch (e2) {\n    originalQuote = 'No quote found';\n  }\n}\n\n// Get the execution context\nconst executionId = $execution.id;\n// Note: $execution.resumeUrl will have the full URL with UUID after Wait node starts\n// For now, just pass the execution ID\n\n// Log for debugging\nconsole.log('Execution ID:', executionId);\n\nreturn {\n  json: {\n    quote: originalQuote,\n    execution_id: executionId,\n    status: 'preparing_for_approval',\n    resumeUrl: $execution.resumeUrl\n  }\n};"
      },
      "id": "bfa594b9-8d57-4b66-8f73-ffff30ec23ae",
      "name": "Capture Resume URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process the approval response from the webhook\nconst webhookData = $input.item.json;\nconst action = webhookData.body.action;  // Access from body\n\n// Get the original quote from previous nodes\nlet originalQuote;\ntry {\n  originalQuote = $('Quote writer').item.json.output;\n} catch (e) {\n  try {\n    originalQuote = $('Format Custom Quote').item.json.output;\n  } catch (e2) {\n    throw new Error('Could not find original quote');\n  }\n}\n\n// Determine the final quote based on action\nlet finalQuote = originalQuote;\nlet approved = false;\n\nif (action === 'approve') {\n  approved = true;\n  finalQuote = originalQuote;\n} else if (action === 'edit' && webhookData.body.approved_quote) {  // Also from body\n  approved = true;\n  finalQuote = webhookData.body.approved_quote;  // Also from body\n} else if (action === 'reject') {\n  approved = false;\n}\n\nreturn {\n  json: {\n    output: finalQuote,\n    approved: approved,\n    action: action,\n    original_quote: originalQuote\n  }\n};"
      },
      "id": "e69d7b72-8e26-4cd9-9094-b020f9889d6e",
      "name": "Handle Approval Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -400
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "5e4d1536-9da1-4eb2-9411-6816c2f67c50",
      "name": "Wait for Quote Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -256,
        -400
      ],
      "webhookId": "wait-quote-approval"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a quote",
        "options": {
          "systemMessage": "You are a compassionate trauma-informed writer inspired by Peggy Oliveira, MSW — focusing on healing, self-trust, boundaries, emotional regulation, and recovery from shame. You generate original, reflective, and emotionally grounded inspirational quotes.\n\nTone: Gentle, validating, and empowering. Avoid toxic positivity. Each quote should sound like it could comfort someone healing from trauma or self-doubt.\n\nStyle guidelines:\nWrite in plain, accessible language.\nKeep each quote 1 sentence long no longer than 60 characters.\nAvoid \"you should\" or \"just do it\" advice.\nDo NOT use em dash or —\nUse metaphors of growth, safety, and light when natural.\nInclude variety: self-compassion, boundaries, grief, rest, resilience, embodiment, inner child work.\nEach quote should stand alone and feel sincere, not generic.\n\n** IMPORTANT ** generate only one short sentence\n** IMPORTANT **  Do NOT use em dash or — in the sentence\n** IMPORTANT ** sentence 60 characters max"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -768,
        -336
      ],
      "id": "d94b76ce-4f30-43d8-a68c-3188d88bc9c4",
      "name": "Quote writer"
    },
    {
      "parameters": {
        "jsCode": "// Format custom quote to match Quote writer output structure\nconst customQuote = $('Webhook Trigger').first().json.body.custom_quote;\n\nreturn {\n  json: {\n    output: customQuote\n  }\n};"
      },
      "id": "ecddd7de-8792-4b05-86d2-cd88d5c322e0",
      "name": "Format Custom Quote",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-custom-quote",
              "leftValue": "={{ $('Webhook Trigger').item.json.body.custom_quote }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1040,
        -512
      ],
      "id": "2e5a88c7-066d-4e14-a685-175477aabcb4",
      "name": "Check for Custom Quote"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -784,
        -176
      ],
      "id": "2439f00b-2ccc-449b-b2ed-bfcaef830dec",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "9ITdZP15p3HH1JkB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"executionId\": $execution.id } }}",
        "options": {}
      },
      "id": "53b54b73-5770-4fb8-864a-1b347a2474e1",
      "name": "Respond with Execution ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1632,
        -512
      ]
    },
    {
      "parameters": {
        "operation": "getSystemStats"
      },
      "id": "2c2779eb-7dfc-4376-90ea-0a61edb4af7d",
      "name": "ComfyUI: Get Stats Before",
      "type": "CUSTOM.comfyui",
      "typeVersion": 1,
      "position": [
        -1456,
        -512
      ],
      "credentials": {
        "comfyUIApi": {
          "id": "4TD2TD57KGdNRCVT",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "workflow": "={\n  \"3\": {\n    \"inputs\": {\n      \"seed\": {{ $now.toMillis() }},\n      \"steps\": 20,\n      \"cfg\": 5,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\"70\", 0],\n      \"positive\": [\"16\", 0],\n      \"negative\": [\"40\", 0],\n      \"latent_image\": [\"53\", 0]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [\"3\", 0],\n      \"vae\": [\"55\", 0]\n    },\n    \"class_type\": \"VAEDecode\"\n  },\n  \"9\": {\n    \"inputs\": {\n      \"filename_prefix\": \"hidream_test\",\n      \"images\": [\"8\", 0]\n    },\n    \"class_type\": \"SaveImage\"\n  },\n  \"16\": {\n    \"inputs\": {\n      \"text\": \"{{ $json.image_prompt }}\",\n      \"clip\": [\"54\", 0]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"40\": {\n    \"inputs\": {\n      \"text\": \"blurry, low quality, distorted, bad ugly jpeg artifacts\",\n      \"clip\": [\"54\", 0]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"53\": {\n    \"inputs\": {\n      \"width\": 720,\n      \"height\": 1280,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\"\n  },\n  \"54\": {\n    \"inputs\": {\n      \"clip_name1\": \"clip_l_hidream.safetensors\",\n      \"clip_name2\": \"clip_g_hidream.safetensors\",\n      \"clip_name3\": \"t5xxl_fp8_e4m3fn_scaled.safetensors\",\n      \"clip_name4\": \"llama_3.1_8b_instruct_fp8_scaled.safetensors\"\n    },\n    \"class_type\": \"QuadrupleCLIPLoader\"\n  },\n  \"55\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\"\n  },\n  \"70\": {\n    \"inputs\": {\n      \"shift\": 3.0,\n      \"model\": [\"76\", 0]\n    },\n    \"class_type\": \"ModelSamplingSD3\"\n  },\n  \"76\": {\n    \"inputs\": {\n      \"unet_name\": \"hidream_i1_full_fp8.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\"\n  }\n}",
        "jpegQuality": 90,
        "timeout": 15,
        "autoFreeVram": true
      },
      "id": "dba90e26-9932-4052-a7c6-9c9320900f93",
      "name": "ComfyUI: Generate Image",
      "type": "CUSTOM.comfyui",
      "typeVersion": 1,
      "position": [
        1264,
        352
      ],
      "credentials": {
        "comfyUIApi": {
          "id": "4TD2TD57KGdNRCVT",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shorts-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ec404be8-8cb0-4e14-8985-887f5d3f4d20",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1824,
        -512
      ],
      "webhookId": "shorts-generate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iJ6W1AV7yB03UJQj",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -336,
        64
      ],
      "name": "Call clear-vram",
      "id": "7a213d70-4277-4292-8c27-be0e973a4a82"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "use-ovi-backend",
              "leftValue": "={{ $('Webhook Trigger').item.json.body.video_backend }}",
              "rightValue": "ovi",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -144,
        64
      ],
      "id": "efd2fa4d-472c-4fed-a411-c73ba9876417",
      "name": "Check Video Backend"
    },
    {
      "parameters": {
        "jsCode": "// Extract video filename from ComfyUI outputs\n// The updated ComfyUI node now returns both images and videos\nconst items = $input.all();\n\n// Find the first video output (fileType: 'video')\nconst videoItem = items.find(item => item.json.fileType === 'video');\n\nif (!videoItem) {\n  throw new Error('No video output found from ComfyUI workflow');\n}\n\nconst filename = videoItem.json.filename;\nconst videoPath = `/mnt/raven-nas/inspirational-shorts/generated-content/${filename}`;\n\nconsole.log(`Found video: ${filename}`);\n\nreturn {\n  json: {\n    filename: filename,\n    video_path: videoPath,\n    subfolder: videoItem.json.subfolder || '',\n    format: videoItem.json.format || 'video/mp4'\n  }\n};"
      },
      "id": "52784745-d736-487c-9e3a-68b1a5fc0fd5",
      "name": "Extract Wan22 Video Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for FFmpeg overlay with text wrapping\nconst quote = $('Parse Prompts').item.json.original_quote;\nconst videoPath = $input.item.json.video_path;\nconst inputFilename = $input.item.json.filename;\n\n// Wrap text to fit within video width (720px - 200px padding = 520px max width)\n// At 55px font size with more padding, approximately 20 characters per line is safe\nconst maxCharsPerLine = 20;\nfunction wrapText(text, maxChars) {\n  const words = text.split(' ');\n  const lines = [];\n  let currentLine = '';\n  \n  for (const word of words) {\n    const testLine = currentLine ? `${currentLine} ${word}` : word;\n    if (testLine.length <= maxChars) {\n      currentLine = testLine;\n    } else {\n      if (currentLine) lines.push(currentLine);\n      currentLine = word;\n    }\n  }\n  if (currentLine) lines.push(currentLine);\n  \n  return lines.join('\\\\n');\n}\n\nconst wrappedQuote = wrapText(quote, maxCharsPerLine);\n\n// Generate paths\nconst timestamp = Date.now();\nconst textFilePath = `/tmp/quote_${timestamp}.txt`;\nconst outputFilename = inputFilename.replace(/\\.mp4$/, '_overlay.mp4');\nconst outputPath = `/mnt/raven-nas/inspirational-shorts/generated-content/${outputFilename}`;\n\nconsole.log('Input video:', videoPath);\nconsole.log('Quote:', quote);\nconsole.log('Wrapped quote:', wrappedQuote);\nconsole.log('Text file:', textFilePath);\nconsole.log('Output:', outputPath);\n\nreturn {\n  json: {\n    quote: quote,\n    wrapped_quote: wrappedQuote,\n    text_file: textFilePath,\n    input_video: videoPath,\n    output_video: outputPath,\n    output_filename: outputFilename\n  }\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Prepare FFmpeg Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        176
      ]
    },
    {
      "parameters": {
        "command": "=printf '%s' \"{{ $json.wrapped_quote }}\" > \"{{ $json.text_file }}\""
      },
      "id": "create-text-file-overlay",
      "name": "Create Text File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through data from Prepare FFmpeg Data node\nconst prepareData = $('Prepare FFmpeg Data').item.json;\n\nreturn {\n  json: {\n    input_video: prepareData.input_video,\n    output_video: prepareData.output_video,\n    text_file: prepareData.text_file,\n    output_filename: prepareData.output_filename,\n    quote: prepareData.quote\n  }\n};"
      },
      "id": "pass-data-through-overlay",
      "name": "Pass Data Through",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        176
      ]
    },
    {
      "parameters": {
        "command": "=ffmpeg -i \"{{ $json.input_video }}\" -vf \"drawtext=fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf:textfile='{{ $json.text_file }}':fontsize=55:fontcolor=0xD4C5A9:line_spacing=10:x=(w-text_w)/2:y=h*2/3-(text_h/2):borderw=3:bordercolor=black\" -c:a copy \"{{ $json.output_video }}\" -y -loglevel error -stats"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "FFmpeg: Burn Quote Overlay",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1280,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the final video with overlay\nconst outputFilename = $('Prepare FFmpeg Data').item.json.output_filename;\nconst outputPath = $('Prepare FFmpeg Data').item.json.output_video;\n\nreturn {\n  json: {\n    filename: outputFilename,\n    video_path: outputPath,\n    original_filename: $('Extract Wan22 Video Filename').item.json.filename\n  }\n};"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Return Final Video Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        176
      ]
    },
    {
      "parameters": {
        "workflow": "={\n  \"6\": {\n    \"inputs\": {\n      \"text\": \"{{ $('Parse Prompts').item.json.video_prompt }}\",\n      \"clip\": [\"38\", 0]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": \"色调艳丽，过曝，静态，细节模糊不清，字幕，风格，作品，画作，画面，静止，整体发灰，最差质量，低质量，JPEG压缩残留，丑陋的，残缺的，多余的手指，画得不好的手部，画得不好的脸部，畸形的，毁容的，形态畸形的肢体，手指融合，静止不动的画面，杂乱的背景，三条腿，背景人很多，倒着走\",\n      \"clip\": [\"38\", 0]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [\"58\", 0],\n      \"vae\": [\"39\", 0]\n    },\n    \"class_type\": \"VAEDecode\"\n  },\n  \"38\": {\n    \"inputs\": {\n      \"clip_name\": \"umt5_xxl_fp8_e4m3fn_scaled.safetensors\",\n      \"type\": \"wan\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\"\n  },\n  \"39\": {\n    \"inputs\": {\n      \"vae_name\": \"wan_2.1_vae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\"\n  },\n  \"50\": {\n    \"inputs\": {\n      \"positive\": [\"6\", 0],\n      \"negative\": [\"7\", 0],\n      \"vae\": [\"39\", 0],\n      \"start_image\": [\"52\", 0],\n      \"width\": 720,\n      \"height\": 1280,\n      \"length\": 49,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"WanImageToVideo\"\n  },\n  \"52\": {\n    \"inputs\": {\n      \"image\": \"/mnt/raven-nas/inspirational-shorts/generated-content/{{ $('ComfyUI: Generate Image').item.json.filename }}\"\n    },\n    \"class_type\": \"LoadImage\"\n  },\n  \"57\": {\n    \"inputs\": {\n      \"model\": [\"67\", 0],\n      \"positive\": [\"50\", 0],\n      \"negative\": [\"50\", 1],\n      \"latent_image\": [\"50\", 2],\n      \"add_noise\": \"enable\",\n      \"noise_seed\": {{ $now.toMillis() }},\n      \"steps\": 8,\n      \"cfg\": 1,\n      \"sampler_name\": \"uni_pc\",\n      \"scheduler\": \"simple\",\n      \"start_at_step\": 0,\n      \"end_at_step\": 4,\n      \"return_with_leftover_noise\": \"enable\"\n    },\n    \"class_type\": \"KSamplerAdvanced\"\n  },\n  \"58\": {\n    \"inputs\": {\n      \"model\": [\"68\", 0],\n      \"positive\": [\"50\", 0],\n      \"negative\": [\"50\", 1],\n      \"latent_image\": [\"57\", 0],\n      \"add_noise\": \"disable\",\n      \"noise_seed\": 0,\n      \"steps\": 8,\n      \"cfg\": 1,\n      \"sampler_name\": \"uni_pc\",\n      \"scheduler\": \"simple\",\n      \"start_at_step\": 4,\n      \"end_at_step\": 1000,\n      \"return_with_leftover_noise\": \"disable\"\n    },\n    \"class_type\": \"KSamplerAdvanced\"\n  },\n  \"61\": {\n    \"inputs\": {\n      \"unet_name\": \"Wan2.2-I2V-A14B-HighNoise-Q4_K_S.gguf\"\n    },\n    \"class_type\": \"UnetLoaderGGUF\"\n  },\n  \"62\": {\n    \"inputs\": {\n      \"unet_name\": \"Wan2.2-I2V-A14B-LowNoise-Q4_0.gguf\"\n    },\n    \"class_type\": \"UnetLoaderGGUF\"\n  },\n  \"64\": {\n    \"inputs\": {\n      \"model\": [\"61\", 0],\n      \"lora_name\": \"Wan21_I2V_14B_lightx2v_cfg_step_distill_lora_rank64.safetensors\",\n      \"strength_model\": 1\n    },\n    \"class_type\": \"LoraLoaderModelOnly\"\n  },\n  \"66\": {\n    \"inputs\": {\n      \"model\": [\"62\", 0],\n      \"lora_name\": \"Wan21_I2V_14B_lightx2v_cfg_step_distill_lora_rank64.safetensors\",\n      \"strength_model\": 1\n    },\n    \"class_type\": \"LoraLoaderModelOnly\"\n  },\n  \"67\": {\n    \"inputs\": {\n      \"model\": [\"64\", 0],\n      \"shift\": 8.0\n    },\n    \"class_type\": \"ModelSamplingSD3\"\n  },\n  \"68\": {\n    \"inputs\": {\n      \"model\": [\"66\", 0],\n      \"shift\": 8.0\n    },\n    \"class_type\": \"ModelSamplingSD3\"\n  },\n  \"82\": {\n    \"inputs\": {\n      \"images\": [\"83\", 0],\n      \"frame_rate\": 24,\n      \"loop_count\": 0,\n      \"filename_prefix\": \"wan22\",\n      \"format\": \"video/h264-mp4\",\n      \"pix_fmt\": \"yuv420p\",\n      \"crf\": 15,\n      \"save_metadata\": true,\n      \"pingpong\": false,\n      \"save_output\": true\n    },\n    \"class_type\": \"VHS_VideoCombine\"\n  },\n  \"83\": {\n    \"inputs\": {\n      \"frames\": [\"8\", 0],\n      \"ckpt_name\": \"rife47.pth\",\n      \"clear_cache_after_n_frames\": 10,\n      \"multiplier\": 2,\n      \"fast_mode\": true,\n      \"ensemble\": true,\n      \"scale_factor\": 1\n    },\n    \"class_type\": \"RIFE VFI\"\n  }\n}",
        "autoFreeVram": true
      },
      "id": "5bef6390-5bfa-4666-a5c1-d07e7e433441",
      "name": "ComfyUI: Generate Video (Wan 2.2)",
      "type": "CUSTOM.comfyui",
      "typeVersion": 1,
      "position": [
        112,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "comfyUIApi": {
          "id": "4TD2TD57KGdNRCVT",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iJ6W1AV7yB03UJQj",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1248,
        -512
      ],
      "name": "Call clear-vram1",
      "id": "4e034806-55c3-427d-9ca6-323ab8dded55"
    }
  ],
  "connections": {
    "Capture Image Resume URL": {
      "main": [
        [
          {
            "node": "Wait for Image Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Image Approval": {
      "main": [
        [
          {
            "node": "Handle Image Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Image Approval Response": {
      "main": [
        [
          {
            "node": "Check Image Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Approval Status": {
      "main": [
        [
          {
            "node": "VoiceAPI: Unload Model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ComfyUI: Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VoiceAPI: Unload Model": {
      "main": [
        [
          {
            "node": "Call clear-vram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prompts": {
      "main": [
        [
          {
            "node": "ComfyUI: Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image & Video Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image & Video Prompt Generator": {
      "main": [
        [
          {
            "node": "Parse Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Status": {
      "main": [
        [
          {
            "node": "Image & Video Prompt Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quote writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Resume URL": {
      "main": [
        [
          {
            "node": "Wait for Quote Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Approval Response": {
      "main": [
        [
          {
            "node": "Check Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Quote Approval": {
      "main": [
        [
          {
            "node": "Handle Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote writer": {
      "main": [
        [
          {
            "node": "Capture Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Custom Quote": {
      "main": [
        [
          {
            "node": "Capture Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Custom Quote": {
      "main": [
        [
          {
            "node": "Format Custom Quote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quote writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Quote writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond with Execution ID": {
      "main": [
        [
          {
            "node": "ComfyUI: Get Stats Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI: Get Stats Before": {
      "main": [
        [
          {
            "node": "Call clear-vram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI: Generate Image": {
      "main": [
        [
          {
            "node": "Capture Image Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond with Execution ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call clear-vram": {
      "main": [
        [
          {
            "node": "Check Video Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Backend": {
      "main": [
        [
          {
            "node": "Ovi: Generate Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ComfyUI: Generate Video (Wan 2.2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ovi: Generate Video": {
      "main": [
        [
          {
            "node": "Extract Ovi Video Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ovi Video Path": {
      "main": [
        [
          {
            "node": "Prepare FFmpeg Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI: Generate Video (Wan 2.2)": {
      "main": [
        [
          {
            "node": "Extract Wan22 Video Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Wan22 Video Filename": {
      "main": [
        [
          {
            "node": "Prepare FFmpeg Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FFmpeg Data": {
      "main": [
        [
          {
            "node": "Create Text File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Text File": {
      "main": [
        [
          {
            "node": "Pass Data Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Data Through": {
      "main": [
        [
          {
            "node": "FFmpeg: Burn Quote Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg: Burn Quote Overlay": {
      "main": [
        [
          {
            "node": "Return Final Video Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call clear-vram1": {
      "main": [
        [
          {
            "node": "Check for Custom Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "99ff97a0c56026a2c1b3a849547491eb857e68a0b770f2b7c6688eea83f57eda"
  }
}