custom_code/workflows/n8n-backup.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "9df3f0e6-4b07-436f-9b3b-f22fba4d78e3",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -592,
        64
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "new-file-assignment",
              "name": "path",
              "value": "={{$node[\"Set Global variables\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json",
              "type": "string"
            },
            {
              "id": "new-file-content",
              "name": "content",
              "value": "={{ JSON.stringify({_backup_metadata: {versionId: $('Loop Over Items').item.json.versionId, backedUpAt: $now.toISO()}, nodes: $('Loop Over Items').item.json.nodes, connections: $('Loop Over Items').item.json.connections, meta: $('Loop Over Items').item.json.meta, pinData: $('Loop Over Items').item.json.pinData}, null, 2) }}",
              "type": "string"
            },
            {
              "id": "new-file-mode",
              "name": "mode",
              "value": "100644",
              "type": "string"
            },
            {
              "id": "new-file-type",
              "name": "type",
              "value": "new",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e833d6c5-e9c8-4926-9ae5-10c55c55f3b3",
      "name": "Mark as new file",
      "type": "n8n-nodes-base.set",
      "position": [
        80,
        96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "changed-file-assignment",
              "name": "path",
              "value": "={{$node[\"Set Global variables\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json",
              "type": "string"
            },
            {
              "id": "changed-file-content",
              "name": "content",
              "value": "={{ JSON.stringify({_backup_metadata: {versionId: $('Loop Over Items').item.json.versionId, backedUpAt: $now.toISO()}, nodes: $('Loop Over Items').item.json.nodes, connections: $('Loop Over Items').item.json.connections, meta: $('Loop Over Items').item.json.meta, pinData: $('Loop Over Items').item.json.pinData}, null, 2) }}",
              "type": "string"
            },
            {
              "id": "changed-file-mode",
              "name": "mode",
              "value": "100644",
              "type": "string"
            },
            {
              "id": "changed-file-type",
              "name": "type",
              "value": "changed",
              "type": "string"
            },
            {
              "id": "changed-file-sha",
              "name": "sha",
              "value": "={{ $json.sha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "74e962ab-5537-4051-b9d7-83f99d028ef4",
      "name": "Mark as changed file",
      "type": "n8n-nodes-base.set",
      "position": [
        736,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all changed files from the loop\nconst changedFiles = $input.all();\n\nif (changedFiles.length === 0) {\n  return [];\n}\n\n// Group files by type\nconst filesData = {\n  new: [],\n  changed: [],\n  owner: $node[\"Set Global variables\"].json.repo.owner,\n  repo: $node[\"Set Global variables\"].json.repo.name,\n  path: $node[\"Set Global variables\"].json.repo.path\n};\n\nfor (const file of changedFiles) {\n  if (file.json.type === 'new') {\n    filesData.new.push({\n      path: file.json.path,\n      content: file.json.content\n    });\n  } else if (file.json.type === 'changed') {\n    filesData.changed.push({\n      path: file.json.path,\n      content: file.json.content,\n      sha: file.json.sha\n    });\n  }\n}\n\nreturn [{ json: filesData }];"
      },
      "id": "183a2dbf-991b-4c5d-88a6-66a171802364",
      "name": "Aggregate changed files",
      "type": "n8n-nodes-base.code",
      "position": [
        -336,
        -224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "has-new-files",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.new.length }}",
              "rightValue": 0
            },
            {
              "id": "has-changed-files",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.changed.length }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "28a41f48-5ce6-45c6-9964-5063cc7428ad",
      "name": "If files changed",
      "type": "n8n-nodes-base.if",
      "position": [
        -128,
        -288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/git/refs/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "937fc373-45b8-47b7-9dd6-c47f54c1870c",
      "name": "Get main branch ref",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        -304
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "2pFg5iRvKloAQ4g3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Aggregate changed files').item.json.owner }}/{{ $('Aggregate changed files').item.json.repo }}/git/commits/{{ $json.object.sha }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "0fa7d631-fab4-41e6-a317-6a62d7fa6ded",
      "name": "Get base commit",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        288,
        -304
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "2pFg5iRvKloAQ4g3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build tree entries for all changed files\nconst filesData = $('Aggregate changed files').item.json;\nconst baseTreeSha = $json.tree.sha;\n\nconst treeEntries = [];\n\n// Add new files\nfor (const file of filesData.new) {\n  treeEntries.push({\n    path: file.path,\n    mode: '100644',\n    type: 'blob',\n    content: file.content\n  });\n}\n\n// Add changed files\nfor (const file of filesData.changed) {\n  treeEntries.push({\n    path: file.path,\n    mode: '100644',\n    type: 'blob',\n    content: file.content\n  });\n}\n\nreturn [{\n  json: {\n    owner: filesData.owner,\n    repo: filesData.repo,\n    base_tree: baseTreeSha,\n    tree: treeEntries,\n    fileCount: treeEntries.length\n  }\n}];"
      },
      "id": "84f3e9d1-fa44-4c32-b022-6babf274e06f",
      "name": "Build tree for commit",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        -304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/git/trees",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ base_tree: $json.base_tree, tree: $json.tree }) }}",
        "options": {}
      },
      "id": "4caab67e-9a21-4050-9713-eb7b82a3a74e",
      "name": "Create Git tree",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        688,
        -304
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "2pFg5iRvKloAQ4g3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Build tree for commit').item.json.owner }}/{{ $('Build tree for commit').item.json.repo }}/git/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: `[N8N Backup] Updated ${$('Build tree for commit').item.json.fileCount} workflow(s)`, tree: $json.sha, parents: [$('Get base commit').item.json.sha] }) }}",
        "options": {}
      },
      "id": "e1e81032-fdda-49b3-b158-a839c8caaa31",
      "name": "Create commit",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        -304
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "2pFg5iRvKloAQ4g3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.github.com/repos/{{ $('Build tree for commit').item.json.owner }}/{{ $('Build tree for commit').item.json.repo }}/git/refs/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sha: $json.sha, force: false }) }}",
        "options": {}
      },
      "id": "8356cb4e-476a-43cb-902b-14defe0c828f",
      "name": "Update main branch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        -304
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "2pFg5iRvKloAQ4g3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "56512ebd-d2e0-4768-97db-345a4781a0c7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1168,
        144
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Set Global variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Set Global variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Set Global variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "b948997d-da02-4ecf-8219-d9e2cf762e71",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        -336,
        80
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "e048741a-e4b1-44de-af8b-b090cb0195c7",
      "credentials": {
        "githubApi": {
          "id": "2pFg5iRvKloAQ4g3",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        -48
      ],
      "id": "ac1c59e8-c1bc-434d-9ed0-ab3f8b6f594e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {
          "isArchived": false
        },
        "requestOptions": {}
      },
      "id": "554a0005-1bed-47d0-b05b-6507b3b5566c",
      "name": "Get all flows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -784,
        64
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "IuI1Ln3xchwEIXA8",
          "name": "n8n raven account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "petebytes"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "raven/"
            }
          ]
        },
        "options": {}
      },
      "id": "aea7c5d2-097c-448b-a5cf-a7286929c6b3",
      "name": "Set Global variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -960,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all()\n\nfor (item of items) {\n    // Check if content exists (file found in GitHub)\n    if (item.json.content && item.json.encoding === 'base64') {\n        item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n    } else {\n        // File doesn't exist or has an error - set content to empty string\n        item.json.content = ''\n    }\n}\n\nreturn items;\n"
      },
      "id": "a9333505-48c7-4a24-9978-7c0748815e02",
      "name": "Convert file to JSON string",
      "type": "n8n-nodes-base.code",
      "position": [
        80,
        -96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Use versionId for fast and reliable change detection\nconst current = $('Loop Over Items').item.json;\nconst content = $json.content || '';\n\n// Check if content exists (file found in GitHub)\nif (!content || content.trim() === '') {\n  // New workflow - no existing file in GitHub\n  console.log(`[${current.name}] New workflow - no file in GitHub`);\n  return [{\n    json: {\n      ...current,\n      storedContent: null,\n      sha: null,\n      hasChanges: true,\n      skipReason: 'new workflow'\n    }\n  }];\n}\n\nlet stored;\ntry {\n  stored = JSON.parse(content);\n} catch (e) {\n  // Invalid JSON in stored file - treat as changed\n  console.log(`[${current.name}] Invalid JSON in stored file:`, e.message);\n  return [{\n    json: {\n      ...current,\n      storedContent: content,\n      sha: $json.sha,\n      hasChanges: true,\n      skipReason: 'invalid stored JSON'\n    }\n  }];\n}\n\n// Fast versionId comparison - this is what n8n uses internally\nconst storedVersionId = stored._backup_metadata?.versionId || stored.versionId;\nconst currentVersionId = current.versionId;\n\nconsole.log(`[${current.name}] Stored versionId: ${storedVersionId}`);\nconsole.log(`[${current.name}] Current versionId: ${currentVersionId}`);\nconsole.log(`[${current.name}] Match: ${storedVersionId === currentVersionId}`);\n\nif (!currentVersionId) {\n  // No versionId in current workflow - shouldn't happen but handle it\n  console.log(`[${current.name}] Missing versionId in current workflow`);\n  return [{\n    json: {\n      ...current,\n      storedContent: content,\n      sha: $json.sha,\n      hasChanges: true,\n      skipReason: 'missing versionId in current workflow'\n    }\n  }];\n}\n\nif (storedVersionId === currentVersionId) {\n  // Exact match - workflow hasn't changed\n  console.log(`[${current.name}] ✓ No changes detected (versionId match)`);\n  return [{\n    json: {\n      ...current,\n      storedContent: content,\n      sha: $json.sha,\n      hasChanges: false,\n      skipReason: 'versionId unchanged',\n      debugInfo: `stored=${storedVersionId}, current=${currentVersionId}`\n    }\n  }];\n}\n\n// versionId changed - workflow has been modified\nconsole.log(`[${current.name}] ✗ Changes detected (versionId mismatch)`);\nreturn [{\n  json: {\n    ...current,\n    storedContent: content,\n    sha: $json.sha,\n    hasChanges: true,\n    skipReason: null,\n    debugInfo: `stored=${storedVersionId}, current=${currentVersionId}`\n  }\n}];"
      },
      "id": "8202ee03-fd91-4417-87fa-ccbe87e40ab0",
      "name": "Compare workflow changes",
      "type": "n8n-nodes-base.code",
      "position": [
        272,
        -96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "16a9182d-059d-4774-ba95-654fb4293fdb",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2090eafe-0df0-4592-b4cb-95bd86dac3ae",
      "name": "If file exists in repo",
      "type": "n8n-nodes-base.if",
      "position": [
        -128,
        80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e0c66624-429a-4f1f-bf7b-1cc1b32bad7b",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.hasChanges }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "8a1bb656-f096-4bfb-9cd1-cd320d848dfd",
      "name": "If any changes in the flow",
      "type": "n8n-nodes-base.if",
      "position": [
        464,
        128
      ],
      "typeVersion": 2.2
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate changed files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as new file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as changed file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate changed files": {
      "main": [
        [
          {
            "node": "If files changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If files changed": {
      "main": [
        [
          {
            "node": "Get main branch ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get main branch ref": {
      "main": [
        [
          {
            "node": "Get base commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get base commit": {
      "main": [
        [
          {
            "node": "Build tree for commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build tree for commit": {
      "main": [
        [
          {
            "node": "Create Git tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Git tree": {
      "main": [
        [
          {
            "node": "Create commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create commit": {
      "main": [
        [
          {
            "node": "Update main branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Global variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If file exists in repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Global variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all flows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global variables": {
      "main": [
        [
          {
            "node": "Get all flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert file to JSON string": {
      "main": [
        [
          {
            "node": "Compare workflow changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare workflow changes": {
      "main": [
        [
          {
            "node": "If any changes in the flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file exists in repo": {
      "main": [
        [
          {
            "node": "Convert file to JSON string",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If any changes in the flow": {
      "main": [
        [
          {
            "node": "Mark as changed file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99ff97a0c56026a2c1b3a849547491eb857e68a0b770f2b7c6688eea83f57eda"
  }
}