custom_code/workflows/short-inspirational-videos.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-complete",
              "leftValue": "={{ $json.is_vram_ready }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2592,
        672
      ],
      "id": "32d2a134-edfc-4402-90da-1250d9cb6bd8",
      "name": "Is Complete?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ovi-api:8300/api/generate-video",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_prompt",
              "value": "={{ $('Parse Prompts').item.json.video_prompt }}"
            },
            {
              "name": "image_path",
              "value": "={{ '/mnt/raven-nas/inspirational-shorts/generated-images/' + $('ComfyUI: Generate Image').item.json.filename }}"
            },
            {
              "name": "mode",
              "value": "i2v"
            },
            {
              "name": "preset",
              "value": "youtube-shorts-balanced"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "45d3ea63-e4d6-4923-8e98-982ebafea0b7",
      "name": "Ovi: Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        640
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "4c4c250e-7f1b-4f5e-9d69-88c8b4b19224",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        672
      ],
      "webhookId": "wait-vram-retry"
    },
    {
      "parameters": {
        "jsCode": "// Parse VRAM info from ComfyUI stats\nconst stats = $input.item.json;\nconst attempt = $('Initialize Retry Counter').item.json.vram_check_attempt;\nconst maxAttempts = $('Initialize Retry Counter').item.json.max_attempts;\n\n// Get free VRAM from ComfyUI stats\nlet freeVramGB = 0;\n\n// ComfyUI provides vram_free directly in devices array\nif (stats.devices && stats.devices[0] && stats.devices[0].vram_free) {\n  freeVramGB = stats.devices[0].vram_free / (1024 * 1024 * 1024);\n} else if (stats.system && stats.system.vram_free) {\n  freeVramGB = stats.system.vram_free / (1024 * 1024 * 1024);\n}\n\n// We need at least 25GB free for Ovi (it uses ~28GB but with CPU offload)\nconst requiredVramGB = 25;\nconst isReady = freeVramGB >= requiredVramGB;\nconst maxAttemptsReached = attempt >= maxAttempts;\n\n// Log for debugging\nconsole.log(`VRAM Check - Attempt ${attempt}/${maxAttempts}: Free=${freeVramGB.toFixed(2)}GB, Required=${requiredVramGB}GB, Ready=${isReady}`);\n\n// Throw error if max attempts reached and still not ready\nif (maxAttemptsReached && !isReady) {\n  throw new Error(`VRAM timeout after ${attempt} attempts. Free: ${freeVramGB.toFixed(2)}GB, Required: ${requiredVramGB}GB. ComfyUI may still be holding memory.`);\n}\n\nreturn {\n  json: {\n    ...($('Initialize Retry Counter').item.json),\n    vram_free_gb: parseFloat(freeVramGB.toFixed(2)),\n    vram_required_gb: requiredVramGB,\n    is_vram_ready: isReady,\n    should_retry: !isReady && !maxAttemptsReached,\n    should_proceed: isReady,\n    debug_stats: {\n      attempt: attempt,\n      max_attempts: maxAttempts,\n      devices_found: stats.devices ? stats.devices.length : 0,\n      vram_free_bytes: stats.devices?.[0]?.vram_free || 0\n    }\n  }\n};\n"
      },
      "id": "7a882321-5cb8-4fab-83eb-8365b56c2beb",
      "name": "Check if VRAM is Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        672
      ]
    },
    {
      "parameters": {
        "operation": "getSystemStats"
      },
      "id": "254c5128-8f83-4ec5-ae58-822f20521743",
      "name": "ComfyUI: Check VRAM Status",
      "type": "CUSTOM.comfyui",
      "typeVersion": 1,
      "position": [
        2176,
        672
      ],
      "credentials": {
        "comfyUIApi": {
          "id": "4TD2TD57KGdNRCVT",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize retry counter on first run\nif (!$input.item.json.vram_check_attempt) {\n  return {\n    json: {\n      ...($input.item.json),\n      vram_check_attempt: 1,\n      max_attempts: 10,\n      vram_check_start: Date.now()\n    }\n  };\n}\n\n// Otherwise increment counter\nreturn {\n  json: {\n    ...($input.item.json),\n    vram_check_attempt: $input.item.json.vram_check_attempt + 1\n  }\n};"
      },
      "id": "0ea08534-1f19-4762-bbc8-1cc520c05e43",
      "name": "Initialize Retry Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// Capture execution context and image info before waiting\nconst imageData = $('ComfyUI: Generate Image').item.json;\nconst imagePrompt = $('Parse Prompts').item.json.image_prompt;\nconst executionId = $execution.id;\n\n// Log for debugging\nconsole.log('Image Approval - Execution ID:', executionId);\nconsole.log('Image filename:', imageData.filename);\n\nreturn {\n  json: {\n    image_filename: imageData.filename,\n    image_prompt: imagePrompt,\n    execution_id: executionId,\n    status: 'preparing_for_image_approval',\n    resumeUrl: $execution.resumeUrl\n  }\n};"
      },
      "id": "f8d8c163-8ac2-4bf9-9ae6-32f846984117",
      "name": "Capture Image Resume URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        656
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "be66d9ba-2bc5-450e-bb0b-6b6b20b6258e",
      "name": "Wait for Image Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        736,
        672
      ],
      "webhookId": "wait-image-approval"
    },
    {
      "parameters": {
        "jsCode": "// Process the image approval response from the webhook\nconst webhookData = $input.item.json;\nconst action = webhookData.body.action;\n\n// Get the original image prompt\nconst originalPrompt = $('Parse Prompts').item.json.image_prompt;\n\n// Determine the final prompt and approval status\nlet finalPrompt = originalPrompt;\nlet approved = false;\nlet needsRegeneration = false;\n\nif (action === 'approve') {\n  approved = true;\n  finalPrompt = originalPrompt;\n} else if (action === 'edit' && webhookData.body.edited_image_prompt) {\n  approved = true;\n  needsRegeneration = true;\n  finalPrompt = webhookData.body.edited_image_prompt;\n} else if (action === 'reject') {\n  approved = false;\n}\n\nreturn {\n  json: {\n    image_prompt: finalPrompt,\n    approved: approved,\n    needs_regeneration: needsRegeneration,\n    action: action,\n    original_image_prompt: originalPrompt\n  }\n};"
      },
      "id": "dcaf7558-af56-44d1-b4ac-4748313a9be9",
      "name": "Handle Image Approval Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-image-approved",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "no-regeneration-needed",
              "leftValue": "={{ $json.needs_regeneration }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        672
      ],
      "id": "0f9ce8a2-f913-486f-82e9-e869bf226706",
      "name": "Check Image Approval Status"
    },
    {
      "parameters": {
        "operation": "freeVram"
      },
      "id": "3b168b9f-f1c8-4a67-b246-f9d375173bb8",
      "name": "ComfyUI: Free VRAM Before Video",
      "type": "CUSTOM.comfyui",
      "typeVersion": 1,
      "position": [
        1488,
        656
      ],
      "credentials": {
        "comfyUIApi": {
          "id": "4TD2TD57KGdNRCVT",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON output from the AI agent\nconst output = $input.item.json.output;\nlet prompts;\n\ntry {\n  // Try to parse as JSON\n  prompts = JSON.parse(output);\n} catch (e) {\n  // If not valid JSON, try to extract JSON from the text\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    prompts = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Could not parse JSON from AI output');\n  }\n}\n\n// Get the original quote from whichever path was taken\n// Try Quote writer first (AI-generated), then Format Custom Quote (user-provided)\nlet originalQuote;\ntry {\n  originalQuote = $('Quote writer').item.json.output;\n} catch (e) {\n  originalQuote = $('Format Custom Quote').item.json.output;\n}\n\nreturn {\n  json: {\n    image_prompt: prompts.image_prompt,\n    video_prompt: prompts.video_prompt,\n    original_quote: originalQuote\n  }\n};"
      },
      "id": "fa9667b6-08a3-46c0-8719-df75aacfaedb",
      "name": "Parse Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        224
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1232,
        400
      ],
      "id": "2e34e89d-f8c4-45e7-97df-dbe2bef10d4f",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "9ITdZP15p3HH1JkB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate image and video prompts for this quote: {{ $json.output }}",
        "options": {
          "systemMessage": "You are an artistic director tasked with creating both visual and animated content for reflective, emotionally grounded inspirational quotes.\n\nWhen provided with a quote, you must generate TWO prompts in JSON format:\n\n1. **image_prompt**: A detailed description of a photorealistic 9:16 portrait image that represents or supports the quote. Focus on composition, lighting, mood, subject, and environment.\n\n2. **video_prompt**: A description of how the image should be animated into a 5-second video. Describe subtle movements, camera motion, lighting changes, facial expressions, environmental elements (wind, light shifts), and emotional progression. Keep it natural and cinematic.\n\n** IMPORTANT ** Respond ONLY with valid JSON in this exact format:\n{\n  \"image_prompt\": \"detailed image description here\",\n  \"video_prompt\": \"detailed animation description here. Include the quote spoken: <S>quote text<E>\"\n}\n\nEnsure the video_prompt includes the quote wrapped in <S>quote<E> tags for speech generation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1264,
        224
      ],
      "id": "440eccb3-01b7-4f89-aab0-09c2d4750048",
      "name": "Image & Video Prompt Generator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-approved",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        240
      ],
      "id": "ee39cb34-43ac-4a6a-b9d3-911207937186",
      "name": "Check Approval Status"
    },
    {
      "parameters": {
        "jsCode": "// Capture execution context and quote before waiting\nlet originalQuote;\ntry {\n  originalQuote = $('Quote writer').item.json.output;\n} catch (e) {\n  try {\n    originalQuote = $('Format Custom Quote').item.json.output;\n  } catch (e2) {\n    originalQuote = 'No quote found';\n  }\n}\n\n// Get the execution context\nconst executionId = $execution.id;\n// Note: $execution.resumeUrl will have the full URL with UUID after Wait node starts\n// For now, just pass the execution ID\n\n// Log for debugging\nconsole.log('Execution ID:', executionId);\n\nreturn {\n  json: {\n    quote: originalQuote,\n    execution_id: executionId,\n    status: 'preparing_for_approval',\n    resumeUrl: $execution.resumeUrl\n  }\n};"
      },
      "id": "ea8b6a0d-2f87-481f-96c2-6d7fc46fb766",
      "name": "Capture Resume URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process the approval response from the webhook\nconst webhookData = $input.item.json;\nconst action = webhookData.body.action;  // Access from body\n\n// Get the original quote from previous nodes\nlet originalQuote;\ntry {\n  originalQuote = $('Quote writer').item.json.output;\n} catch (e) {\n  try {\n    originalQuote = $('Format Custom Quote').item.json.output;\n  } catch (e2) {\n    throw new Error('Could not find original quote');\n  }\n}\n\n// Determine the final quote based on action\nlet finalQuote = originalQuote;\nlet approved = false;\n\nif (action === 'approve') {\n  approved = true;\n  finalQuote = originalQuote;\n} else if (action === 'edit' && webhookData.body.approved_quote) {  // Also from body\n  approved = true;\n  finalQuote = webhookData.body.approved_quote;  // Also from body\n} else if (action === 'reject') {\n  approved = false;\n}\n\nreturn {\n  json: {\n    output: finalQuote,\n    approved: approved,\n    action: action,\n    original_quote: originalQuote\n  }\n};"
      },
      "id": "6f404c91-4745-4db9-a137-fb89820bc838",
      "name": "Handle Approval Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        240
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "740ec7c7-6e4d-45cf-bbe0-6c046561d991",
      "name": "Wait for Quote Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        240
      ],
      "webhookId": "wait-quote-approval"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a quote",
        "options": {
          "systemMessage": "You are a compassionate trauma-informed writer inspired by Peggy Oliveira, MSW — focusing on healing, self-trust, boundaries, emotional regulation, and recovery from shame. You generate original, reflective, and emotionally grounded inspirational quotes (not copied or cliché).\n\nTone: Gentle, validating, and empowering. Avoid toxic positivity. Each quote should sound like it could comfort someone healing from trauma or self-doubt.\nStyle guidelines:\nWrite in plain, accessible language.\nKeep each quote 1 sentence long.\nAvoid \"you should\" or \"just do it\" advice.\nUse metaphors of growth, safety, and light when natural.\nInclude variety: self-compassion, boundaries, grief, rest, resilience, embodiment, inner child work.\nEach quote should stand alone and feel sincere, not generic.\n\n** IMPORTANT ** generate a single sentence"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        304
      ],
      "id": "4d04eb09-beee-409d-b9e7-b6dc9bf25f6e",
      "name": "Quote writer"
    },
    {
      "parameters": {
        "jsCode": "// Format custom quote to match Quote writer output structure\nconst customQuote = $('Webhook Trigger').first().json.body.custom_quote;\n\nreturn {\n  json: {\n    output: customQuote\n  }\n};"
      },
      "id": "cb066681-6d4c-4439-9031-38ef66ae4c28",
      "name": "Format Custom Quote",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-custom-quote",
              "leftValue": "={{ $('Webhook Trigger').item.json.body.custom_quote }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -112,
        128
      ],
      "id": "571ce7f4-c395-4096-9714-c80bc516545f",
      "name": "Check for Custom Quote"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        144,
        464
      ],
      "id": "f0c9f8f8-06d4-4cf5-8226-ed8a052e5519",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "9ITdZP15p3HH1JkB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "freeVram"
      },
      "id": "8638fc93-868d-460c-b473-abfba3a09372",
      "name": "ComfyUI: Free VRAM",
      "type": "CUSTOM.comfyui",
      "typeVersion": 1,
      "position": [
        448,
        -112
      ],
      "credentials": {
        "comfyUIApi": {
          "id": "4TD2TD57KGdNRCVT",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"executionId\": $execution.id } }}",
        "options": {}
      },
      "id": "a3d07746-6243-4bf6-9beb-f9c26aa6559b",
      "name": "Respond with Execution ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "getSystemStats"
      },
      "id": "e9b1445c-946a-4edc-8d5d-6d4f91d7fa46",
      "name": "ComfyUI: Get Stats Before",
      "type": "CUSTOM.comfyui",
      "typeVersion": 1,
      "position": [
        256,
        -112
      ],
      "credentials": {
        "comfyUIApi": {
          "id": "4TD2TD57KGdNRCVT",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "workflow": "={\n  \"3\": {\n    \"inputs\": {\n      \"seed\": {{ $now.toMillis() }},\n      \"steps\": 10,\n      \"cfg\": 5,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\"70\", 0],\n      \"positive\": [\"16\", 0],\n      \"negative\": [\"40\", 0],\n      \"latent_image\": [\"53\", 0]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [\"3\", 0],\n      \"vae\": [\"55\", 0]\n    },\n    \"class_type\": \"VAEDecode\"\n  },\n  \"9\": {\n    \"inputs\": {\n      \"filename_prefix\": \"hidream_test\",\n      \"images\": [\"8\", 0]\n    },\n    \"class_type\": \"SaveImage\"\n  },\n  \"16\": {\n    \"inputs\": {\n      \"text\": \"{{ $json.image_prompt }}\",\n      \"clip\": [\"54\", 0]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"40\": {\n    \"inputs\": {\n      \"text\": \"blurry, low quality, distorted, bad ugly jpeg artifacts\",\n      \"clip\": [\"54\", 0]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"53\": {\n    \"inputs\": {\n      \"width\": 576,\n      \"height\": 1024,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\"\n  },\n  \"54\": {\n    \"inputs\": {\n      \"clip_name1\": \"clip_l_hidream.safetensors\",\n      \"clip_name2\": \"clip_g_hidream.safetensors\",\n      \"clip_name3\": \"t5xxl_fp8_e4m3fn_scaled.safetensors\",\n      \"clip_name4\": \"llama_3.1_8b_instruct_fp8_scaled.safetensors\"\n    },\n    \"class_type\": \"QuadrupleCLIPLoader\"\n  },\n  \"55\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\"\n  },\n  \"70\": {\n    \"inputs\": {\n      \"shift\": 3.0,\n      \"model\": [\"76\", 0]\n    },\n    \"class_type\": \"ModelSamplingSD3\"\n  },\n  \"76\": {\n    \"inputs\": {\n      \"unet_name\": \"hidream_i1_full_fp8.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\"\n  }\n}",
        "jpegQuality": 90,
        "timeout": 15,
        "autoFreeVram": true
      },
      "id": "f7bc0d81-fcda-4cd7-8667-c20018d6cc95",
      "name": "ComfyUI: Generate Image",
      "type": "CUSTOM.comfyui",
      "typeVersion": 1,
      "position": [
        1792,
        400
      ],
      "credentials": {
        "comfyUIApi": {
          "id": "4TD2TD57KGdNRCVT",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shorts-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2555c579-cf4f-46e0-b871-57dd8c9fa920",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -112,
        -112
      ],
      "webhookId": "shorts-generate"
    }
  ],
  "connections": {
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Ovi: Generate Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ComfyUI: Free VRAM Before Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Initialize Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if VRAM is Ready": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI: Check VRAM Status": {
      "main": [
        [
          {
            "node": "Check if VRAM is Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Retry Counter": {
      "main": [
        [
          {
            "node": "ComfyUI: Check VRAM Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Image Resume URL": {
      "main": [
        [
          {
            "node": "Wait for Image Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Image Approval": {
      "main": [
        [
          {
            "node": "Handle Image Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Image Approval Response": {
      "main": [
        [
          {
            "node": "Check Image Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Approval Status": {
      "main": [
        [
          {
            "node": "ComfyUI: Free VRAM Before Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ComfyUI: Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI: Free VRAM Before Video": {
      "main": [
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prompts": {
      "main": [
        [
          {
            "node": "ComfyUI: Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image & Video Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image & Video Prompt Generator": {
      "main": [
        [
          {
            "node": "Parse Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Status": {
      "main": [
        [
          {
            "node": "Image & Video Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Resume URL": {
      "main": [
        [
          {
            "node": "Wait for Quote Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Approval Response": {
      "main": [
        [
          {
            "node": "Check Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Quote Approval": {
      "main": [
        [
          {
            "node": "Handle Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote writer": {
      "main": [
        [
          {
            "node": "Capture Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Custom Quote": {
      "main": [
        [
          {
            "node": "Capture Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Custom Quote": {
      "main": [
        [
          {
            "node": "Format Custom Quote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quote writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Quote writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI: Free VRAM": {
      "main": [
        [
          {
            "node": "Check for Custom Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond with Execution ID": {
      "main": [
        [
          {
            "node": "ComfyUI: Get Stats Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI: Get Stats Before": {
      "main": [
        [
          {
            "node": "ComfyUI: Free VRAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI: Generate Image": {
      "main": [
        [
          {
            "node": "Capture Image Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond with Execution ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "99ff97a0c56026a2c1b3a849547491eb857e68a0b770f2b7c6688eea83f57eda"
  }
}