custom_code/workflows/step2-voice-cloning-tts.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-clone-tts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        160
      ],
      "id": "webhook-voice-clone",
      "name": "Voice Clone TTS Webhook",
      "webhookId": "voice-clone-tts-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract input parameters\nconst item = $input.first();\nconst body = item.json.body || item.json;\n\nconst script = body.script;\nif (!script) {\n  throw new Error('Missing required parameter: script');\n}\n\nif (script.length > 500) {\n  throw new Error('Script too long (max 500 characters)');\n}\n\n// Reference audio can be:\n// 1. task_id from Step 1 (yttools)\n// 2. Binary data in the request\n// 3. URL to audio file\nconst referenceTaskId = body.reference_task_id;\nconst referenceUrl = body.reference_url;\nconst hasBinary = item.binary && Object.keys(item.binary).length > 0;\n\nif (!referenceTaskId && !referenceUrl && !hasBinary) {\n  throw new Error('Missing reference audio: provide reference_task_id, reference_url, or upload audio file');\n}\n\nreturn [{\n  json: {\n    script: script,\n    reference_task_id: referenceTaskId,\n    reference_url: referenceUrl,\n    has_binary: hasBinary,\n    model: body.model || 'F5-TTS',\n    output_format: body.output_format || 'mp3'\n  },\n  binary: item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        160
      ],
      "id": "validate-input-2",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-task-id",
              "leftValue": "={{ $json.reference_task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        360,
        160
      ],
      "id": "check-audio-source",
      "name": "Has Task ID?"
    },
    {
      "parameters": {
        "url": "=http://yttools:8456/api/download/{{ $json.reference_task_id }}/audio",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        80
      ],
      "id": "download-reference-audio",
      "name": "Download Reference Audio"
    },
    {
      "parameters": {
        "jsCode": "// Prepare vibevoice API request\nconst item = $input.first();\nconst script = $('Validate Input').item.json.script;\nconst model = $('Validate Input').item.json.model;\nconst outputFormat = $('Validate Input').item.json.output_format;\n\n// Check if we have binary data (reference audio)\nconst binary = item.binary;\nif (!binary || Object.keys(binary).length === 0) {\n  throw new Error('No reference audio available');\n}\n\n// Get the binary key (usually 'data' or 'file')\nconst binaryKey = Object.keys(binary)[0];\nconst audioData = binary[binaryKey];\n\nreturn [{\n  json: {\n    text: script,\n    model: model,\n    output_format: outputFormat,\n    reference_audio_key: binaryKey\n  },\n  binary: {\n    reference_audio: audioData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        160
      ],
      "id": "prepare-tts-request",
      "name": "Prepare TTS Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vibevoice-api:8100/api/tts",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "reference_audio",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "=reference_audio"
            },
            {
              "name": "output_format",
              "value": "={{ $json.output_format }}"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        160
      ],
      "id": "call-vibevoice-tts",
      "name": "Call Vibevoice TTS"
    },
    {
      "parameters": {
        "jsCode": "// Prepare final response\nconst item = $input.first();\nconst script = $('Validate Input').item.json.script;\nconst binary = item.binary;\n\n// Generate filename\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, -5);\nconst fileName = `cloned_voice_${timestamp}.mp3`;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Voice cloned and TTS generated successfully',\n    file_name: fileName,\n    script: script,\n    model: $('Validate Input').item.json.model,\n    output_format: $('Validate Input').item.json.output_format,\n    generation_time: new Date().toISOString()\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        160
      ],
      "id": "prepare-response-2",
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1460,
        160
      ],
      "id": "respond-success-2",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "Voice Clone TTS Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Has Task ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Task ID?": {
      "main": [
        [
          {
            "node": "Download Reference Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare TTS Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Reference Audio": {
      "main": [
        [
          {
            "node": "Prepare TTS Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TTS Request": {
      "main": [
        [
          {
            "node": "Call Vibevoice TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Vibevoice TTS": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "voice-cloning-tts-step2"
  }
}
