custom_code/workflows/step1-youtube-audio-extraction.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-youtube-audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2256,
        32
      ],
      "id": "26627b83-69cf-49fa-9c4d-5a6359dda6d6",
      "name": "YouTube Audio Webhook",
      "webhookId": "youtube-audio-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract input parameters\nconst item = $input.first();\nconst body = item.json.body || item.json;\n\nconst youtubeUrl = body.youtube_url || body.url;\nif (!youtubeUrl) {\n  throw new Error('Missing required parameter: youtube_url');\n}\n\n// Validate YouTube URL format\nif (!youtubeUrl.includes('youtube.com') && !youtubeUrl.includes('youtu.be')) {\n  throw new Error('Invalid YouTube URL');\n}\n\n// Default segment times: 40-70 seconds\nconst segmentStart = body.segment_start || 40;\nconst segmentEnd = body.segment_end || 70;\n\nif (segmentEnd <= segmentStart) {\n  throw new Error('segment_end must be greater than segment_start');\n}\n\nconst duration = segmentEnd - segmentStart;\nif (duration > 60) {\n  throw new Error('Maximum segment duration is 60 seconds');\n}\n\nreturn [{\n  json: {\n    youtube_url: youtubeUrl,\n    segment_start: segmentStart,\n    segment_end: segmentEnd,\n    duration: duration,\n    format: 'mp3'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        32
      ],
      "id": "351c4d66-ad22-48b5-80e8-cff418cbef93",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://yttools:8456/api/download",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"url\": $json.youtube_url,\n  \"start_time\": $json.segment_start,\n  \"end_time\": $json.segment_end,\n  \"audio_format\": \"mp3\",\n  \"enable_whisper\": false\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        32
      ],
      "id": "4dfa6c03-5bdc-48d5-907b-2f37d0dd18f9",
      "name": "Submit to yttools"
    },
    {
      "parameters": {
        "jsCode": "// Extract task_id from yttools response\nconst item = $input.first();\nconst response = item.json;\n\nif (!response.task_id) {\n  throw new Error('yttools did not return task_id: ' + JSON.stringify(response));\n}\n\nreturn [{\n  json: {\n    task_id: response.task_id,\n    youtube_url: $('Validate Input').item.json.youtube_url,\n    segment_start: $('Validate Input').item.json.segment_start,\n    segment_end: $('Validate Input').item.json.segment_end,\n    poll_count: 0,\n    max_polls: 60  // 60 polls * 3 seconds = 3 minutes max\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        32
      ],
      "id": "64f4f001-8164-4d79-aeb1-9ff1b29b4162",
      "name": "Extract Task ID"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1376,
        32
      ],
      "id": "86c9b3eb-687e-495a-87dd-be64b6b5a288",
      "name": "Wait 3s",
      "webhookId": "wait-webhook-id"
    },
    {
      "parameters": {
        "url": "=http://yttools:8456/api/status/{{ $json.task_id }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        32
      ],
      "id": "4e68e588-7b3e-495a-867c-c17441a961d7",
      "name": "Check Status"
    },
    {
      "parameters": {
        "jsCode": "// Check if task is complete\nconst item = $input.first();\nconst status = item.json;\n\nconst taskId = $('Extract Task ID').item.json.task_id;\nconst pollCount = ($('Extract Task ID').item.json.poll_count || 0) + 1;\nconst maxPolls = $('Extract Task ID').item.json.max_polls || 60;\n\n// Check if we've exceeded max polling attempts\nif (pollCount >= maxPolls) {\n  throw new Error(`Task timeout after ${maxPolls} attempts (${maxPolls * 3} seconds)`);\n}\n\n// Check task status\nif (status.status === 'completed') {\n  // Task is done - proceed to download\n  return [{\n    json: {\n      task_id: taskId,\n      status: 'completed',\n      ready_to_download: true,\n      youtube_url: $('Validate Input').item.json.youtube_url,\n      segment_start: $('Validate Input').item.json.segment_start,\n      segment_end: $('Validate Input').item.json.segment_end\n    }\n  }];\n} else if (status.status === 'failed') {\n  throw new Error(`yttools task failed: ${status.error || 'Unknown error'}`);\n} else {\n  // Still processing - continue polling\n  return [{\n    json: {\n      task_id: taskId,\n      status: status.status,\n      progress: status.progress || 0,\n      poll_count: pollCount,\n      max_polls: maxPolls,\n      ready_to_download: false\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        32
      ],
      "id": "e8fa9243-2a5e-4d3b-b615-a6464fa8c038",
      "name": "Check Completion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e18e75e4-01ae-4d1c-9d45-3c0febbe1bd6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        32
      ],
      "id": "cc92c30b-d9d4-4c6c-8084-388845016483",
      "name": "Is Complete?"
    },
    {
      "parameters": {
        "url": "=http://yttools:8456/api/download/{{ $json.task_id }}/audio",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        -48
      ],
      "id": "250dc10a-1929-42e8-9d52-bc854a6d6f65",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "jsCode": "// Prepare final response with audio file\nconst item = $input.first();\nconst binary = item.binary;\n\nconst taskId = $json.task_id;\nconst fileName = `youtube_audio_${taskId}.mp3`;\n\n// Get audio duration info from previous nodes\nconst segmentStart = $('Validate Input').item.json.segment_start;\nconst segmentEnd = $('Validate Input').item.json.segment_end;\nconst duration = segmentEnd - segmentStart;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Audio extracted successfully',\n    task_id: taskId,\n    file_name: fileName,\n    segment_start: segmentStart,\n    segment_end: segmentEnd,\n    duration_seconds: duration,\n    youtube_url: $('Validate Input').item.json.youtube_url,\n    download_time: new Date().toISOString()\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -48
      ],
      "id": "1cfeaf40-f1e9-4d5b-8287-6b6f79363eb4",
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -64,
        -48
      ],
      "id": "2b39d342-9d4c-45c9-bf64-d5edca8f06f1",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "YouTube Audio Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Submit to yttools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to yttools": {
      "main": [
        [
          {
            "node": "Extract Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task ID": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Check Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "99ff97a0c56026a2c1b3a849547491eb857e68a0b770f2b7c6688eea83f57eda"
  }
}